{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ client.name }}</h4>
            <p class="card-text">tel : {{ client.telephone }}</p>
            <p class="card-text">address : {{ client.address }}</p>
            <br/>
            <b>거래 상품 목록</b>
            <ul class="list-group list-group-flush">
                {% for p in products %}
                    <li class="list-group-item">
                        <a href="{% url 'detail_product' p.pk %}">{{ p.product_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-start" style="margin-top:10px">
        <a href="{% url 'update_client' client.pk %}" class="btn btn-outline-secondary">수정</a>
        <form action="{% url 'delete_client' client.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">삭제</button></form>
        <a href="{% url 'list_client' %}" class="btn btn-outline-secondary">목록</a>
    </div>
{% endblock %}